<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stx.xhb.dmgameapp">

    <!-- 用户权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 需要添加一个权限，获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DmgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 主页面 -->
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 启动页 -->
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 设置页面 -->
        <activity
            android:name=".mvp.ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 关于页面 -->
        <activity
            android:name=".mvp.ui.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 登录页面 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 注册页面 -->
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 游戏详情 -->
        <activity
            android:name=".mvp.ui.activity.GameDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 文章详情 -->
        <activity
            android:name=".mvp.ui.activity.NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 视频详情 -->
        <activity
            android:name=".mvp.ui.fragment.VideoDetailsFragment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 论坛详情 -->
        <activity
            android:name=".mvp.ui.activity.ForumListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mvp.ui.activity.WebDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 友盟相关配置 -->


        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- QQ精简版 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105172050" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56de5a6567e58e3e5e000a25"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL}" />

        <!-- 友盟相关配置 -->


        <!-- 腾讯Bugly相关配置 -->

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 腾讯Bugly相关配置 -->


        <!-- 腾讯广点通配置 -->

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <!-- 腾讯广点通配置 -->
    </application>

</manifest>